<span class="time"><%= @params %></span>
<% 8.upto(18) do |i| %>
 <% 0.step(30, 30) do |a| %>
   <% u = 0 %>
   <% z = sprintf("%02d", i) + ":" + sprintf("%02d", a) %>
   <table class="table table-striped table-hover">
     <tr>
       <th class="w-50"><%= z %></th>
   <% @reserves.each do |reserve| %>
    <% if reserve.start_time.strftime("%Y/%m/%d %H:%M:%S").include?(z) %>
      <td class="w-50"><%= link_to "#{reserve.name}", reserf_path(reserve.id) %></td>
      <% u = 1 %>
      <% break %>
    <% else %>
      <% u = 0 %>
    <% end %>
   <% end %>

   <% if u == 0 %>
    <td class="w-50 text-danger"><%= "◎" %></td>
   <% end %>
     </tr>
   </table>
 <% end %>
<% end %>
